Repository MantisAI/nervaluate: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, flake8, mypy

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: check-yaml

# black
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
    args: [-t, py38, -l 120]


# pylint
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [ python ]
    args: [src, --rcfile=pylint.cfg]


# flake8
- repo: local
  hooks:
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    types: [ python ]


# mypy
- repo: local
  # We do not use pre-commit/mirrors-mypy, as it comes with opinionated defaults (like --ignore-missing-imports)
  # and is difficult to configure to run with the dependencies correctly installed.
  hooks:
    - id: mypy
      name: mypy
      entry: mypy
      language: python
      language_version: python3.8
      types: [python]
      exclude: ^tests/
      require_serial: true  # use require_serial so that script is only called once per commit
      verbose: true  # print the number of files as a sanity-check
      args: [--config, setup.cfg]

Adds summary print functions for overall indices and per-entity indices results
  src/nervaluate/__init__.py
  src/nervaluate/evaluate.py
Due: pylint, flake8, mypy

Adds unit tests for evaluation indices output
  tests/test_evaluator.py
Due: pylint, flake8

Handles case when `predictions` is empty
  src/nervaluate/evaluate.py
Due: pylint, flake8, mypy

initial import
  .github/workflows/checks.yaml
Due: none

Reformats quotes in `test_nervaluate.py`
  tests/test_nervaluate.py
Due: pylint, flake8

Removes extra 'indices' printed
  src/nervaluate/evaluate.py
Due: pylint, flake8, mypy

Updates README to reflect new functionality
  README.md
Due: none

Fixed Typo in README
  README.md
Due: none

chg: Update changelog for 0.2.0 release
  CHANGELOG.rst
Due: none

Create test_file.txt
  test_file.txt
Due: none

Expanded evaluator class: added method to return results of the nested dictionary as a dataframe
  src/nervaluate/evaluate.py
Due: pylint, flake8, mypy

Modified results_to_df method and added test
  pyproject.toml
  src/nervaluate/evaluate.py
  tests/test_evaluator.py
Due: pylint, flake8, mypy

Update tests/test_evaluator.py
  tests/test_evaluator.py
Due: pylint, flake8

adding pandas in the requirements file
  requirements_dev.txt
Due: none

Add pandas as a dependency in pyproject.toml
  pyproject.toml
Due: none

fixed pandas version to 2.2.1
  pyproject.toml
  requirements_dev.txt
Due: none

pandas version downgraded to 2.0.1 because incompatible with python version
  pyproject.toml
  requirements_dev.txt
Due: none

fix: switched order of imports
  tests/test_evaluator.py
Due: pylint, flake8

added type annotations to functions
  src/nervaluate/evaluate.py
Due: pylint, flake8, mypy

fix: typo in type annotation
  src/nervaluate/evaluate.py
Due: pylint, flake8, mypy

fix: mypy configuration error
  src/nervaluate/evaluate.py
Due: pylint, flake8, mypy

Update README.md - change the pdf link
  README.md
Due: none

Update README.md
  README.md
Due: none

Overlap by defining a min ground truth overlap Percent
  src/nervaluate/evaluate.py
  src/nervaluate/utils.py
Due: pylint, flake8, mypy

add if_not_counted_as_incorrect_flag
  src/nervaluate/evaluate.py
Due: pylint, flake8, mypy

set counted_as_incorrect to false
  src/nervaluate/evaluate.py
Due: pylint, flake8, mypy

removing unused imports and mutuable default arguments
  .pre-commit-config.yaml
  src/nervaluate/evaluate.py
Due: pylint, flake8, mypy

fixing type hints
  src/nervaluate/evaluate.py
Due: pylint, flake8, mypy

adding wrongly removed pre-commit
  .pre-commit-config.yaml
Due: none

refactor: move dev dependencies to pyproject.toml and update CI workflow
  .github/workflows/checks.yaml
  pyproject.toml
Due: none

fixing pyprojec.toml dependencies
  pyproject.toml
Due: none

blackening for py311
  Makefile
Due: none

removing requirements_dev.txt
  pyproject.toml
  requirements_dev.txt
Due: none

adding docstrings and increasing test coverage
  src/nervaluate/evaluate.py
  tests/test_nervaluate.py
Due: pylint, flake8, mypy

adding more tests
  src/nervaluate/__init__.py
  src/nervaluate/evaluate.py
  src/nervaluate/reporting.py
  tests/test_evaluator.py
  tests/test_nervaluate.py
Due: pylint, flake8, mypy
