Repository MantisAI/nervaluate: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, flake8, mypy

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: check-yaml

# black
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
    args: [-t, py38, -l 120]


# pylint
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [ python ]
    args: [src, --rcfile=pylint.cfg]


# flake8
- repo: local
  hooks:
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    types: [ python ]


# mypy
- repo: local
  # We do not use pre-commit/mirrors-mypy, as it comes with opinionated defaults (like --ignore-missing-imports)
  # and is difficult to configure to run with the dependencies correctly installed.
  hooks:
    - id: mypy
      name: mypy
      entry: mypy
      language: python
      language_version: python3.8
      types: [python]
      exclude: ^tests/
      require_serial: true  # use require_serial so that script is only called once per commit
      verbose: true  # print the number of files as a sanity-check
      args: [--config, setup.cfg]

updating Makefile
  Makefile
Due: none

adding DS_Store and .idea to gitignore
  .gitignore
Due: none

fixing Makefile and pre-commit
  .pre-commit-config.yaml
  Makefile
  requirements_dev.txt
Due: none

minimum version Python 3.8
  pyproject.toml
Due: none

updated name
  pyproject.toml
Due: none

updated Makefile: install package in editable mode
  Makefile
Due: none

removing duplicated code and fixing type hit
  setup.cfg
  src/nervaluate/nervaluate.py
  src/nervaluate/utils.py
Due: pylint, flake8, mypy

removed codecov from requirements.txt
  requirements_dev.txt
Due: none

wip: adding summary report
  src/nervaluate/__init__.py
  src/nervaluate/evaluate.py
Due: pylint, flake8, mypy

wip: adding summary report
  Makefile
  src/nervaluate/evaluate.py
Due: pylint, flake8, mypy

wip: adding summary report and examples
  .pre-commit-config.yaml
  Makefile
  coverage.yml
  examples/example_no_loader.py
  pylint.cfg
  requirements_dev.txt
  setup.cfg
  src/nervaluate/evaluate.py
Due: pylint, flake8, mypy

wip: adding summary report and examples
  setup.cfg
Due: none

wip: adding summary report and examples
  .pre-commit-config.yaml
  examples/example-full-named-entity-evaluation.ipynb
  examples/example_no_loader.py
  setup.cfg
  src/nervaluate/__init__.py
  src/nervaluate/evaluate.py
Due: pylint, flake8, mypy

nit
  Makefile
Due: none

full working example
  examples/run_example.sh
Due: none

wip: adding poetry
  pyproject.toml
  pyproject.toml.old
Due: none

initial commit
  .github/workflows/checks.yaml
  .github/workflows/tests.yaml
  CHANGELOG.rst
  CITATION.cff
  MANIFEST.in
  Makefile
  README.md
  coverage.yml
  pyproject.toml
  pyproject.toml.old
  requirements_dev.txt
  setup.cfg
  src/nervaluate/evaluate.py
  tox.ini
Due: pylint, flake8, mypy

adding some badges to the README
  README.md
  setup.cfg
Due: none

reverting to Python 3.8
  .github/workflows/checks.yaml
Due: none

updating README.MD
  README.md
Due: none

updating README.MD and bumping version to 0.2.0
  CITATION.cff
  Makefile
  README.md
  pyproject.toml
Due: none

updating pyproject.toml
  pyproject.toml
Due: none

fixing links on README.MD
  README.md
Due: none

attending PR comments
  Makefile
  README.md
Due: none

cleaning README.MD
  README.md
Due: none

Update README.md
  README.md
Due: none

docs: fix typo "spurius" > "spurious"
  README.md
Due: none

Solved issue #40
  src/nervaluate/evaluate.py
Due: pylint, flake8, mypy

Added test for issue #40
  tests/test_nervaluate.py
Due: pylint, flake8

fix: Grant write permission to CICD workflow
  .github/workflows/checks.yaml
Due: none

Adds index lists to output for examples with incorrect, partial, spurious, and missed entities
  src/nervaluate/evaluate.py
Due: pylint, flake8, mypy

Moves evaluation indices to separate data structures
  src/nervaluate/evaluate.py
Due: pylint, flake8, mypy

Adds correct indices to result indices output
  src/nervaluate/evaluate.py
Due: pylint, flake8, mypy

Adds more descriptive variable names
  src/nervaluate/evaluate.py
Due: pylint, flake8, mypy

Adheres to code quality checks
  src/nervaluate/evaluate.py
Due: pylint, flake8, mypy

Ensures compatibility with existing unit tests
  tests/test_evaluator.py
  tests/test_loaders.py
  tests/test_nervaluate.py
Due: pylint, flake8

Adds `within_instance_index` to evaluation indices outputs
  src/nervaluate/evaluate.py
Due: pylint, flake8, mypy
